@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
}

.home-base-container {
  margin-left: auto;
  padding-left: 400px;
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
}

.right{
  width: 25%;
  float: right;

}

.left{
  width: 75%;
  float: left;
  //display: block;
  &.top{
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &.middle{
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  &.bottom {
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
  }
}
